<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>

<br><hr><br>

<p>Name: <strong>Czarina Joy S. Bundoc</strong></p>
<p>Address: <strong>3532 AC Herrera St. Bo. Obrero, Tondo, Manila, Philippines</strong></p>
<p>Birthdate: <strong>04 June 1994</strong></p>
<p>Birthplace: <strong>Mandaluyong City</strong></p>

<br>

<p>Description:</p>
<br>
<p>A Career and Life Strategist</p><br>
<p></p>