<h1>Author</h1>
<hr>

<p>Name: <strong>Czarina Joy Bundoc</strong></p>
<p>Address: <strong>Manila</strong></p>

<br>

<p>Name: <strong>Michelle Ching</strong></p>
<p>Address: <strong>Laguna</strong></p>
